[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
autoenv = "*"
click = "*"
flask = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[requires]
python_version = "3.7.7"
